.header {
	background-color: #16154A;
	height: 43px;
	color: #FFFFFF;
	font-size: 13px;
	text-transform: uppercase;
	padding-top: 3px;
	width: 100%;
}

.user-wrapper {
	display: -webkit-box;
		
	.user-icon-div {
		border-radius: 2px;
		background: #93B0CA;
		width: 36px;
    	height: 36px; 
    	margin-left: 15px; 
    	text-align: center;
	}
	
	.user-icon {
    	margin-top: 8px;
	}
	
	.user-info {
		margin-left: 5px;
		span {
			font-weight: bold;
		}
	}
}



