.left-panel {
	width: 420px;
	border-right: 1px solid #D8DDE3;
	background-color: #edf2f8;
	height: auto;
	position: absolute;
	/*top: 150px;*/
	left: 0px;

	.icon-bar {
		background-color: #fff;
		padding:20px 20px;
		font-size: 18px; 
		color: #262D40 ;
		border-bottom: 1px solid #D8DDE3;

		.icon {
			float: right;
			padding-left:30px;
			cursor:pointer;
		}
	}

	.widget-section {
		padding:20px;


		.universal-widget-style {
			border : 1px solid #D8DDE3;

			.widget-heading {
			    font-size: 18px;
			    background-color: #99A5B3;
			    height: 50px;
			    padding: 12px;
			    color: #fff;
			}
			.widget-sub-heading {
			    font-size: 18px;
			    height: 50px;
			    padding: 12px;
			    color: #000;
			    text-align: center;
			    border-bottom: 1px solid #D8DDE3;
			    border-top : 1px solid #D8DDE3;
			}
			.input-box-section {
				background-color: #ffffff;
				padding: 10px 20px 20px 20px;
			}

			.document-box-section {
				background-color: #ffffff;
				padding: 10px 10px 10px 10px;
				 border-bottom: 1px solid #D8DDE3;
			    border-top : 1px solid #D8DDE3;
			}

			.widget-textbox {
			    width: 76%;
			    height: 40px;
			    padding: 0px 12px;
			    border: 1px solid #D8DDE3;
			}

			.widget-button {
			    width: 80px;
			    margin-left: -5px;
			    font-size: 14px;
			    height: 40px;
			    background-color: #5ACE73;
			    border: 2px solid #5ACE73;
			    border-bottom: 2px solid #48A95D;
			    color: #fff;
			}

			.widget-button-long {
			    width: 100%;
			    font-size: 14px;
			    height: 40px;
			    background-color: #5ACE73;
			    color: #fff;
			    border: none;
    			text-align: center;
			}

			.widget-button-verify {
			    width: 80px;
			    font-size: 14px;
			    height: 40px;
			    background-color: #B1B8C8;
			    border: 2px solid #B1B8C8;
			    border-bottom: 2px solid #9C9E9C;
			    color: #fff;
			}
			.document-to-verify {
			    font-size: 18px;
			    padding: 12px;
			    color: #000;
			    text-align: center;
			    border-bottom: 1px solid #D8DDE3;
			    border-top : 1px solid #D8DDE3;
			}

			.location-status{
				font-size: 12px;
				color: grey;
			}

			.image-status{
				font-size: 14px;
				color: grey;	
			}

			.checkbox-box-section {

				.checkbox {
						font-size: 16px;
						color:#000;
						margin: 22px 0px 26px 0px;
					}

				textarea {
				    height: 65px;
					width: 223px;
					vertical-align: top;
					margin-right: 10px;
					margin-bottom:30px;
				}
			}
			.list-no-style {
				list-style-type:none;
				padding-left:0px
			}
		}
	.widget-button-send {
		width: 80px;
		font-size: 14px;
		height: 40px;
		margin-top: 14px;
		background-color: #B1B8C8;
		border: 2px solid #B1B8C8;
		border-bottom: 2px solid #9C9E9C;
		color: #fff;
	}
	
	.fileupload {
		min-height: inherit;
		background-color: inherit;
		padding: initial;
	}
	.dropzone .dz-default.dz-message{
		background-image: none !important;
	}
	.dz-preview {
 	 	display: none;
	}
	}
}
