.preview-wrapper {
margin-right:0px;
margin-left:0px;
}

.top-bar {
    height: 60px;
    background: #E7EbF4;
    .icon-bar {
    padding: 15px 0px 0px 0px;
    .icon {
			float: right;
			padding-right:30px;
			cursor:pointer;
		}
	}
}