<div ng-controller="AppInfoCtrl as appCtrl">
	<div class="row account-info">
		<div class="col-lg-6">
			<span>Account Number: {{appCtrl.account}}</span>
		</div>
		<div class="col-lg-6">
			<div class="right-style">
				<span>APPLIED: {{appCtrl.appliedBy}}</span> 
				<span>TIME SINCE APPLIED: {{appCtrl.timeSinceApplied}}</span> 
				<span>PRODUCT:{{appCtrl.product}}</span>
			</div>
		</div>
	</div>
	<div class="row personal-info">
		<div class="col-lg-3">
			<div class="left-style">
				{{appCtrl.applicantInfo.name}} <br />
				{{appCtrl.applicantInfo.address}}
			</div>
		</div>
		<div class="col-lg-3">
			<div>
				{{appCtrl.applicantInfo.name2}} <br />
				{{appCtrl.applicantInfo.address2}}
			</div>
		</div>
		<div class="col-lg-6 contact-box-wrapper">
			<div class="contact-box">
				<div class="sub-box">
					<img src="images/im_phone@2x.png">
				</div>
				<div class="sub-box-2">
					<span>Cellphone:</span> <br />{{appCtrl.applicantInfo.cellphone}}
				</div>
			</div>
			<div class="contact-box">
				<div class="sub-box">
					<img src="images/im_phone@2x.png">
				</div>
				<div class="sub-box-2">
					<span>Home:</span> <br />{{appCtrl.applicantInfo.home}}
				</div>
			</div>
			<div class="contact-box">
				<div class="sub-box">
					<img src="images/im_phone@2x.png">
				</div>
				<div class="sub-box-2">
					<span>Work:</span> <br />{{appCtrl.applicantInfo.work}}
				</div>
			</div>
			<div class="contact-box">
				<div class="sub-box">
					<img src="images/_im_mail@2x.png">
				</div>
				<div class="sub-box-2">
					<span>Personal Email:</span> <br />{{appCtrl.applicantInfo.email}}
				</div>
			</div>
			
		</div>
	</div>
</div>