<div>
	<div class="modal-body clearfix">
		<div class="col-lg-6">
			<p>Customer Name:</p>
			<p>Loan Consultant</p>
			<p>Funder Assigned to:</p>
			<p>Lender:</p>
			<p>Docs at Customer:</p>
			<p>Payoff Expiration Date:</p>
			<p>Approval Expiration Date:</p>
			<p>Lien Holder:</p>
			<p>GAP:</p>
			<p>ESC:</p>
		</div>
		<div class="col-lg-6">
			<p><span>{{customerInfo.name}}</span></p>
			<p><span>{{customerInfo.lc}}</span></p>
			<p><span>{{customerInfo.fundAssTo}}</span></p>
			<p><span>{{customerInfo.lender}}</span></p>
			<p><span>{{customerInfo.docAtCust}}</span></p>
			<p><span>{{customerInfo.payExpDate}}</span></p>
			<p><span>{{customerInfo.appExpDate}}</span></p>
			<p><span>{{customerInfo.lienHolder}}</span></p>
			<p><span>{{customerInfo.gap}}</span></p>
			<p><span>{{customerInfo.esc}}</span></p>
		</div>
	</div>


</div>