<div>
	<div class="modal-body clearfix">
		<div class="col-lg-6">
			<p>Customer Name:</p>
			<p>Loan Consultant:</p>
			<p>Funder Assigned to:</p>
			<p>Lender:</p>
			<p>Docs at Customer:</p>
			<p>Payoff Expiration Date:</p>
			<p>Approval Expiration Date:</p>
			<p>Lien Holder:</p>
			<p>GAP:</p>
			<p>ESC:</p>
		</div>
		<div class="col-lg-6" ng-controller="custInfoPopupCtrl as custCtrl">
			<p><span>{{custCtrl.customerInfo.name}}</span></p>
			<p><span>{{custCtrl.customerInfo.lc}}</span></p>
			<p><span>{{custCtrl.customerInfo.fundAssTo}}</span></p>
			<p><span>{{custCtrl.customerInfo.lender}}</span></p>
			<p><span>{{custCtrl.customerInfo.docAtCust}}</span></p>
			<p><span>{{custCtrl.customerInfo.payExpDate}}</span></p>
			<p><span>{{custCtrl.customerInfo.appExpDate}}</span></p>
			<p><span>{{custCtrl.customerInfo.lienHolder}}</span></p>
			<p><span>{{custCtrl.customerInfo.gap}}</span></p>
			<p><span>{{custCtrl.customerInfo.esc}}</span></p>
		</div>
	</div>
</div>