<div ng-include="'views/applicantinfo.html'" class="applicant-info"></div>
<div class="left-panel">
	<div class="col-lg-12 icon-bar">
		<div class="clearfix">
			3 files selected
			<span class="icon">
				<img src="../images/bt_print@2x.png" alt="delete-btn" /> 
			</span>
			<span class="icon">
				<img src="../images/bt_donwload@2x.png" alt="delete-btn" /> 
			</span> 
			<span class="icon">
				<img src="../images/bt_Merge@2x.png" alt="delete-btn" /> 
			</span> 
			<span class="icon">
				<img src="../images/bt_delete@2x.png" alt="delete-btn" /> 
			</span>  
		</div>
	</div>
	<div class="col-lg-12 widget-section">
		<!-- loan package portion  -->
		<div class="col-lg-12 no-padding universal-widget-style">
			<div class="col-lg-12 widget-heading">
				Loan Package
			</div>
			<div class="col-lg-12 widget-sub-heading">
				Sent to Customer
			</div>
			<div class="col-lg-12 input-box-section">
				<input type="text" class="widget-textbox" placeholder="Select or drag&drop file to upload" />
				<input type="button" class="widget-button" value="SELECT" />
			</div>
			<div class="col-lg-12 widget-sub-heading">
				Received to Customer
			</div>
			<div class="col-lg-12 input-box-section">
				<input type="text" class="widget-textbox" placeholder="Select or drag&drop file to upload" />
				<input type="button" class="widget-button" value="SELECT" />
			</div>
			<div class="col-lg-12 widget-sub-heading">
				Loan Package Verification Checklist
			</div>
			<div class="col-lg-12 checkbox-box-section">
				<div class="col-lg-12">
					<div class="checkbox">
				    	<label>
				      		<input type="checkbox"> Loneliner Application
				    	</label>
				  	</div>
				  	<div class="checkbox">
				    	<label>
				      		<input type="checkbox"> Tier Addendum
				    	</label>
				  	</div>
				  	<div class="checkbox">
				    	<label>
				      		<input type="checkbox"> Agreement to Provide Insurance
				    	</label>
				  	</div>
				  	<div class="checkbox">
				    	<label>
				      		<input type="checkbox"> Tier Addendum
				    	</label>
				  	</div>
				  	<div class="checkbox">
				    	<label>
				      		<input type="checkbox"> Agreement to Provide Insurance
				    	</label>
				  	</div>
				</div>
				<div class="col-lg-12 checkbox-box-section">
					<textarea></textarea>
					<input type="button" class="widget-button no-margin" value="SEND" />
				</div>
			</div>
		</div>

		<!-- Borrower Stips portion  -->
		<div class="col-lg-12 no-padding universal-widget-style margin-top20">
			<div class="col-lg-10 widget-heading">
				Borrower Stips
			</div>
			<div class="col-lg-2 no-padding widget-heading">
				<!-- <img src="../images/bt_print@2x.png" alt="plus sign" /> -->  
			</div>
			<div class="col-lg-12 document-to-verify">
				<table class="col-lg-12 no-padding">
					<tr>
						<td>
							<div class="checkbox">
						    	<label>
						      		<input type="checkbox">
						    	</label>
						  	</div>
						</td>
						<td class="text-left">
							<p class="no-margin">Driver License Front</p>
							<p class="no-margin image-status">09/12/15: Blurred Image</p>
							<p class="no-margin location-status">Location Coborrower - Driver's License(Front)</p>
						</td>
						<td>
							<input type="button" class="widget-button-verify" value="VERIFY" />
						</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-12 document-box-section">
				<table class="col-lg-12 no-padding">
					<tr>
						<td>
							<div class="checkbox">
						    	<label>
						      		<input type="checkbox">
						    	</label>
						  	</div>
						</td>
						<td class="text-left">
							<p class="no-margin">dl_front.pdf</p>
						</td>
						<td class="text-right">
							uploaded: 09/12/15
						</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-12 input-box-section">
				<input type="text" class="widget-textbox" placeholder="Select or drag&drop file to upload" />
				<input type="button" class="widget-button" value="SELECT" />
			</div>

			<div class="col-lg-12 document-to-verify">
				<table class="col-lg-12 no-padding">
					<tr>
						<td>
							<div class="checkbox">
						    	<label>
						      		<input type="checkbox">
						    	</label>
						  	</div>
						</td>
						<td class="text-left">
							<p class="no-margin">Driver License Front</p>
							<p class="no-margin image-status">09/12/15: Blurred Image</p>
							<p class="no-margin location-status">Location Coborrower - Driver's License(Front)</p>
						</td>
						<td>
							<input type="button" class="widget-button-verify" value="VERIFY" />
						</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-12 document-box-section">
				<table class="col-lg-12 no-padding">
					<tr>
						<td>
							<div class="checkbox">
						    	<label>
						      		<input type="checkbox">
						    	</label>
						  	</div>
						</td>
						<td class="text-left">
							<p class="no-margin">dl_front.pdf</p>
						</td>
						<td class="text-right">
							uploaded: 09/12/15
						</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-12 input-box-section">
				<input type="text" class="widget-textbox" placeholder="Select or drag&drop file to upload" />
				<input type="button" class="widget-button" value="SELECT" />
			</div>

			<div class="col-lg-12 document-to-verify">
				<table class="col-lg-12 no-padding">
					<tr>
						<td>
							<div class="checkbox">
						    	<label>
						      		<input type="checkbox">
						    	</label>
						  	</div>
						</td>
						<td class="text-left">
							<p class="no-margin">Insurance Card</p>
						</td>
						<td>
							<input type="button" class="widget-button-verify" value="VERIFY" />
						</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-12 document-box-section">
				<table class="col-lg-12 no-padding">
					<tr>
						<td>
							<div class="checkbox">
						    	<label>
						      		<input type="checkbox">
						    	</label>
						  	</div>
						</td>
						<td class="text-left">
							<p class="no-margin">dl_front.pdf</p>
						</td>
						<td class="text-right">
							uploaded: 09/12/15
						</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-12 input-box-section">
				<input type="text" class="widget-textbox" placeholder="Select or drag&drop file to upload" />
				<input type="button" class="widget-button" value="SELECT" />
			</div>

			<div class="col-lg-12 document-to-verify">
				<table class="col-lg-12 no-padding">
					<tr>
						<td>
							<div class="checkbox">
						    	<label>
						      		<input type="checkbox">
						    	</label>
						  	</div>
						</td>
						<td class="text-left">
							<p class="no-margin">Registration</p>
						</td>
						<td>
							<input type="button" class="widget-button-verify" value="VERIFY" />
						</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-12 input-box-section">
				<input type="text" class="widget-textbox" placeholder="Select or drag&drop file to upload" />
				<input type="button" class="widget-button" value="SELECT" />
			</div>
		</div>



		<!-- Co-Borrower Stips portion  -->
		<div class="col-lg-12 no-padding universal-widget-style margin-top20">
			<div class="col-lg-10 widget-heading">
				Co-borrower Stips
			</div>
			<div class="col-lg-2 no-padding widget-heading">
				<!-- <img src="../images/bt_print@2x.png" alt="plus sign" /> -->  
			</div>
			<div class="col-lg-12 document-to-verify">
				<table class="col-lg-12 no-padding">
					<tr>
						<td>
							<div class="checkbox">
						    	<label>
						      		<input type="checkbox">
						    	</label>
						  	</div>
						</td>
						<td class="text-left">
							<p class="no-margin">Driver License Front</p>
						</td>
						<td>
							<input type="button" class="widget-button-verify" value="VERIFY" />
						</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-12 input-box-section">
				<input type="text" class="widget-textbox" placeholder="Select or drag&drop file to upload" />
				<input type="button" class="widget-button" value="SELECT" />
			</div>

			<div class="col-lg-12 document-to-verify">
				<table class="col-lg-12 no-padding">
					<tr>
						<td>
							<div class="checkbox">
						    	<label>
						      		<input type="checkbox">
						    	</label>
						  	</div>
						</td>
						<td class="text-left">
							<p class="no-margin">Driver License Back</p>
						</td>
						<td>
							<input type="button" class="widget-button-verify" value="VERIFY" />
						</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-12 input-box-section">
				<input type="text" class="widget-textbox" placeholder="Select or drag&drop file to upload" />
				<input type="button" class="widget-button" value="SELECT" />
			</div>


		</div>





	</div>	
</div>