<div class="row home-bg">
<div class="col-md-7">
<span class="component">Account Number: 209005</span>
</div>
<div class="col-md-5">
<span class="component">Applied: 209005</span>
<span class="component">Time since applied: 209005</span>
<span class="component">product: refinance</span>
</div>
<div>
</div>
</div>
<div class="row home-bg">
<div class="col-md-6">
</div>
<div class="col-md-6" style="display:flex"> 
<div class="contact-box">Cellphone</div>

<div class="contact-box">home<br/>(123)456-789</div>

<div class="contact-box">Cellphone</div>

<div class="contact-box">home<br/>(123)456-789</div>

</div>