<div class="modal-header">
    <h3 class="modal-title">Add Stip - Co-borrower</h3>
</div>
 <div class="modal-body clearfix">
    <div class="col-lg-6 clearfix">
        <ul class="stip-category">
            <li>
                <div class="checkbox">
                    <label> 
                        <input type="checkbox"> Driver License Front
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label> 
                        <input type="checkbox"> Driver License Back
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label> 
                        <input type="checkbox"> Registration
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label> 
                        <input type="checkbox"> Insurance Card
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label> 
                        <input type="checkbox"> Social Security Card
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label> 
                        <input type="checkbox"> Residence Card
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label> 
                        <input type="checkbox"> Title Front
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label> 
                        <input type="checkbox"> Title Back 
                    </label>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-6 clearfix">
        <ul class="stip-category">
            <li>
                <div class="checkbox">
                    <label> 
                        <input type="checkbox"> Paystub
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label> 
                        <input type="checkbox"> Marriage Certificate
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label> 
                        <input type="checkbox"> Death Certificate
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label> 
                        <input type="checkbox"> Passport 
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label> 
                        <input type="checkbox"> Income Tax
                    </label>
                </div>
            </li>
             <li>
                <div class="checkbox">
                    <label> 
                        <input type="checkbox"> Bank Statement
                    </label>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="modal-footer">
    <button class="popup-btn-close" type="button" ng-click="cancel()">CLOSE</button>
    <button class="popup-btn-done" type="button" ng-click="ok()">DONE</button>
</div>

