<div ng-controller="StipBorrowerCtrl as stipCtrl">
	<div class="col-lg-12 no-padding universal-widget-style margin-top20">
		<div class="col-lg-10 widget-heading">Borrower Stips</div>
		<div class="col-lg-2 no-padding widget-heading">
			<img src="images/bt_plus_white.png" style="margin: 14px 21px;" alt="plus sign" ng-click="stipCtrl.open('BO')" />
		</div>
		<ul class="list-no-style">
			<li ng-repeat="parent in bData track by $index" ng-init="outerIndex=$index">
				<div class="col-lg-12 document-to-verify">
					<table class="col-lg-12 no-padding">
						<tr>
							<td>
								<div class="checkbox">
								<label> 
									<input type="checkbox" ng-model="parent.checked" ng-click="updateCheckboxes($event,outerIndex)">
								</label>
								</div>
							</td>
							<td class="text-left">
								<p class="no-margin">{{parent.name}}</p>
								<span ng-if="parent.verifyDate!=null">
									<p ng-if="parent.stipStatus!=''" class="no-margin image-status pul-left" >{{parent.verifyDate|amDateFormat:'MM/DD/YY'}} : {{parent.stipStatus}} </p>			
									<p class="no-margin image-status-red pul-left" ng-click="verifyAgain(parent)" ng-if="parent.paperworkCheck" style="cursor:pointer">(cancel)</p>
									<p class="no-margin image-status pul-left" ng-if="parent.stipLocation!=''">Location: {{parent.stipLocation}}</p>
								</span>
							</td>
							<td>
								<input type="button" class="widget-button-verify" value="VERIFY" ng-click="verifyPopupTrigger(parent,'BO');preivewMergedImages(parent,'BO')" ng-if="!parent.paperworkCheck" />
								<span ng-if="parent.paperworkCheck">Verified</span>
								<span ng-if="parent.paperworkCheck"><img src="images/ic_verified.png" alt="verified" /></span>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-lg-12 document-box-section">
					<div class="col-lg-12 no-padding">
						<ul dnd-list="parent.files">	
							<li ng-repeat="item in parent.files track by $id(item)" 
								dnd-draggable="item"
        						dnd-moved="parent.files.splice($index, 1)"
        						dnd-effect-allowed="move">
								<div class="checkbox col-lg-12">
                        			<div class="col-lg-9 no-padding">
                            			<div class="no-padding col-lg-12">
                                			<input type="checkbox" style="margin-top:15px" ng-model="item.checked" ng-click="updateFileCount($event)">
 												<div class="col-lg-3 no-padding" id="thumbwrap">
													<a class="thumb" href="#">
														<img ng-src="{{item.src}}">
														<span> <!-- Enlarged image -->
															<img ng-src="{{item.src}}" class="thumb-span">
														</span>
                                        			</a>
                                 				</div>
                                 				<div class="col-lg-9 no-padding word-truncate" style="margin-top:15px;cursor:pointer" ng-click="previewDoc(item,'BO')">{{item.name}}</div>
                                 			</div>
                              			</div>
                              		<div class="col-lg-3 no-padding text-right" ng-click="previewDoc(item,'BO')" style="cursor:pointer">
                              			<input type="button" class="widget-button-send" value="Send" ng-if="item.date==null" />
                                    	<p ng-if="!(item.date==null)" class="sent-date">{{item.date|amDateFormat:'MM/DD/YY'}}</p>
                              		</div>
                            	</div>
							</li>
						</ul>
					</div>
					<div>
						<input type="text" class="widget-textbox" placeholder="Select or drag & drop file to upload" /> 
						<input type="button" class="widget-button" value="SELECT" />
					
				 		<form action="/" class="dropzone fileupload" method="post" enctype="multipart/form-data" ng-dropzone dropzone-config="fileBoUploadConfig"  ng-click="setcatIndex(outerIndex)">
				 		<!-- once the file is dropped, we need to send the category id to server which we will get 
				 		from the server to do further operations -->
             				<input type="hidden" name="data" value="outerIndex" >
              			</form>
              		</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- Co-borrower stips -->
	<div class="col-lg-12 no-padding universal-widget-style margin-top20">
		<div class="col-lg-10 widget-heading">Co-Borrower Stips</div>
		<div class="col-lg-2 no-padding widget-heading">
			<img src="images/bt_plus_white.png" style="margin: 14px 21px;" alt="plus sign" ng-click="stipCtrl.open('CO')" />
		</div>
		<ul class="list-no-style">
			<li ng-repeat="parent in cData track by $index" ng-init="outerIndex=$index">
				<div class="col-lg-12 document-to-verify">
					<table class="col-lg-12 no-padding">
						<tr>
							<td>
								<div class="checkbox">
									<label> <input type="checkbox" ng-model="parent.checked" ng-click="updateCOCheckboxes($event,outerIndex)">
									</label>
								</div>
							</td>
							<td class="text-left">
								<p class="no-margin">{{parent.name}}</p>
									<span ng-if="parent.verifyDate!=null">
										<p ng-if="parent.stipStatus!=''" class="no-margin image-status pul-left" >{{parent.verifyDate|amDateFormat:'MM/DD/YY'}} : {{parent.stipStatus}} </p>			
										<p class="no-margin image-status-red pul-left" ng-click="verifyAgain(parent)" ng-if="parent.paperworkCheck" style="cursor:pointer">(cancel)</p>
										<p class="no-margin image-status pul-left" ng-if="parent.stipLocation!=''">Location: {{parent.stipLocation}}</p>
									</span>
							</td>
							<td>
								<input type="button" class="widget-button-verify" value="VERIFY" ng-click="verifyPopupTrigger(parent,'CO');preivewMergedImages(parent,'CO')" ng-if="!parent.paperworkCheck" />
								<span ng-if="parent.paperworkCheck">Verified</span>
								<span ng-if="parent.paperworkCheck"><img src="images/ic_verified.png" alt="verified" /></span>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-lg-12 document-box-section">
					<div class="col-lg-12 no-padding">
						<ul dnd-list="parent.files">	
							<li ng-repeat="item in parent.files track by $id(item)" 
								dnd-draggable="item"
        						dnd-moved="parent.files.splice($index, 1)"
        						dnd-effect-allowed="move">
								<div class="checkbox col-lg-12">
                        		<div class="col-lg-9 no-padding">
                             		<div class="no-padding col-lg-12">
                               			<input type="checkbox" style="margin-top:15px" ng-model="item.checked" ng-click="updateFileCount($event)">
                                		<div class="col-lg-3 no-padding" id="thumbwrap">
											<a class="thumb" href="#">
											<img ng-src="{{item.src}}">
											<span>
												<img ng-src="{{item.src}}" class="thumb-span">
											</span>
                                    		</a>
                                		</div>
                                		<div class="col-lg-9 no-padding word-truncate" style="margin-top:15px;cursor:pointer" ng-click="previewDoc(item,'CO')">{{item.name}}</div>
				               		</div>
				               	</div>
                            	<div class="col-lg-3 no-padding text-right" ng-click="previewDoc(item,'CO')" style="cursor:pointer">
                            		<p ng-if="!(item.date==null)" class="sent-date">{{item.date|amDateFormat:'MM/DD/YY'}}</p>
                            	</div>
                    		</div>
						</li>
					</ul>
				</div>
				<div>
					<input type="text" class="widget-textbox" placeholder="Select or drag & drop file to upload" /> 
					<input type="button" class="widget-button" value="SELECT" />
					
				 	<form action="/" class="dropzone fileupload" method="post" enctype="multipart/form-data" ng-dropzone dropzone-config="fileCoUploadConfig"  ng-click="setcatIndex(outerIndex)">
				 	<!-- once the file is dropped, we need to send the category id to server which we will get 
				 	from the server to do further operations -->
             			<input type="hidden" name="data" value="outerIndex" >
              		</form>
       			</div>
			</div>
		</li>
	</ul>
</div>

<!-- Seller Stips -->
	<div class="col-lg-12 no-padding universal-widget-style margin-top20">
		<div class="col-lg-10 widget-heading">Seller Stips</div>
		<div class="col-lg-2 no-padding widget-heading">
			<img src="images/bt_plus_white.png" style="margin: 14px 21px;" alt="plus sign" ng-click="stipCtrl.open('SE')" />
		</div>
		<ul class="list-no-style">
			<li ng-repeat="parent in sData track by $index" ng-init="outerIndex=$index">
				<div class="col-lg-12 document-to-verify">
					<table class="col-lg-12 no-padding">
						<tr>
							<td>
								<div class="checkbox">
									<label> 
										<input type="checkbox" ng-model="parent.checked" ng-click="updateSECheckboxes($event,outerIndex)">
									</label>
								</div>
							</td>
							<td class="text-left">
								<p class="no-margin">{{parent.name}}</p>						
								<span ng-if="parent.verifyDate!=null">
									<p ng-if="parent.stipStatus!=''" class="no-margin image-status pul-left" >{{parent.verifyDate|amDateFormat:'MM/DD/YY'}} : {{parent.stipStatus}} </p>			
									<p class="no-margin image-status-red pul-left" ng-click="verifyAgain(parent)" ng-if="parent.paperworkCheck" style="cursor:pointer">(cancel)</p>
									<p class="no-margin image-status pul-left" ng-if="parent.stipLocation!=''">Location: {{parent.stipLocation}}</p>
								</span>
							</td>
							<td>
								<input type="button" class="widget-button-verify"value="VERIFY" ng-click="verifyPopupTrigger(parent,'SE');preivewMergedImages(parent,'SE')" ng-if="!parent.paperworkCheck" />
								<span ng-if="parent.paperworkCheck">Verified</span>
								<span ng-if="parent.paperworkCheck"><img src="images/ic_verified.png" alt="verified" /></span>
							</td>
						</tr>
				</table>
			</div>
		<div class="col-lg-12 document-box-section">
			<div class="col-lg-12 no-padding">
				<ul dnd-list="parent.files">	
					<li ng-repeat="item in parent.files track by $id(item)" 
						dnd-draggable="item"
        				dnd-moved="parent.files.splice($index, 1)"
        				dnd-effect-allowed="move">
						<div class="checkbox col-lg-12">
                        	<div class="col-lg-9 no-padding">
                            	<div class="no-padding col-lg-12">
                                 	<input type="checkbox" style="margin-top:15px" ng-model="item.checked" ng-click="updateFileCount($event)">
                                 	<div class="col-lg-3 no-padding" id="thumbwrap">
										<a class="thumb" href="#">
											<img ng-src="{{item.src}}">
											<span>
												<img ng-src="{{item.src}}" class="thumb-span">
											</span>
                                         </a>
                                    </div>
                                    <div class="col-lg-9 no-padding word-truncate" style="margin-top:15px;cursor:pointer" ng-click="previewDoc(item,'SE')">{{item.name}}</div>
                                 </div>
                            </div>
                            <div class="col-lg-3 no-padding text-right" ng-click="previewDoc(item,'SE')">
                            	<p ng-if="!(item.date==null)" class="sent-date">{{item.date|amDateFormat:'MM/DD/YY'}}</p>
                            </div>
                         </div>
					</li>
				</ul>
			</div>
			<div>
				<input type="text" class="widget-textbox" placeholder="Select or drag & drop file to upload" /> 
				<input type="button" class="widget-button" value="SELECT" />
					
				 <form action="/" class="dropzone fileupload" method="post" enctype="multipart/form-data" ng-dropzone dropzone-config="fileSeUploadConfig"  ng-click="setcatIndex(outerIndex)">
				 <!-- once the file is dropped, we need to send the category id to server which we will get 
				 from the server to do further operations -->
             		<input type="hidden" name="data" value="outerIndex" >
              	</form>
           </div>
		</div>
	</li>
</ul>
</div>
</div>