<div class="modal-header">
    <h3 class="modal-title">Add Stip - {{subject}}</h3>
</div>
 <div class="modal-body clearfix" ng-if="subject=='Borrower'">
    <div class="col-lg-6 clearfix no-padding">
        <ul class="stip-category" ng-model="borrowerStip">
            <li ng-repeat="item in borrowerStip" ng-if="$index <= 8">
                <div class="checkbox">
                    <label> 
                        <input name="stipCheckbox" type="checkbox" ng-model="item.checked" ng-disabled="item.checked"  > <span ng-class="{'disabled-text':item.checked}">{{item.name}}</span>
                        <a href="#" ng-if="item.checked && $index > 3" ng-click="removeCategory($index,'BO')">Remove</a>
                    </label>
                </div>
            </li>
        </ul>
    </div>
        <div class="col-lg-6 clearfix no-padding">
        <ul class="stip-category" ng-model="borrowerStip">
            <li ng-repeat="item in borrowerStip" ng-if="$index > 8">
                <div class="checkbox">
                    <label> 
                        <input name="stipCheckbox" type="checkbox" ng-model="item.checked" ng-disabled="item.checked"><span ng-class="{'disabled-text':item.checked}">{{item.name}}</span>
                        <a href="#" ng-if="item.checked" ng-click="removeCategory($index,'BO')">Remove</a>
                    </label>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- ****************************************CO Borrower Popup ******************************************-->
 <div class="modal-body clearfix" ng-if="subject=='Co-borrower'">
    <div class="col-lg-6 clearfix no-padding">
        <ul class="stip-category" ng-model="coborrowerStip">
            <li ng-repeat="item in coborrowerStip" ng-if="$index <= 8">
                <div class="checkbox">
                    <label> 
                        <input name="stipCheckbox" type="checkbox" ng-model="item.checked" ng-disabled="item.checked"> <span ng-class="{'disabled-text':item.checked}">{{item.name}}</span>
                        <a href="#" ng-if="item.checked && $index > 3" ng-click="removeCategory($index,'CO')">Remove</a>
                    </label>
                </div>
            </li>
        </ul>
    </div>
        <div class="col-lg-6 clearfix no-padding">
        <ul class="stip-category" ng-model="coborrowerStip">
            <li ng-repeat="item in coborrowerStip" ng-if="$index > 8">
                <div class="checkbox">
                    <label> 
                        <input name="stipCheckbox" type="checkbox" ng-model="item.checked" ng-disabled="item.checked"><span ng-class="{'disabled-text':item.checked}">{{item.name}}</span>
                        <a href="#" ng-if="item.checked" ng-click="removeCategory($index,'CO')">Remove</a>
                    </label>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- ************************** Seller Popup *********************************************************** -->
 <div class="modal-body clearfix" ng-if="subject=='Seller'">
    <div class="col-lg-6 clearfix no-padding">
        <ul class="stip-category" ng-model="sellerStip">
            <li ng-repeat="item in sellerStip" ng-if="$index <= 8">
                <div class="checkbox">
                    <label> 
                        <input name="stipCheckbox" type="checkbox" ng-model="item.checked" ng-disabled="item.checked"><span ng-class="{'disabled-text':item.checked}">{{item.name}}</span>
                        <a href="#" ng-if="item.checked && $index > 3" ng-click="removeCategory($index,'SE')">Remove</a>
                    </label>
                </div>
            </li>
        </ul>
    </div>
        <div class="col-lg-6 clearfix no-padding">
        <ul class="stip-category" ng-model="sellerStip">
            <li ng-repeat="item in sellerStip" ng-if="$index > 8">
                <div class="checkbox">
                    <label> 
                        <input name="stipCheckbox" type="checkbox" ng-model="item.checked" ng-disabled="item.checked"><span ng-class="{'disabled-text':item.checked}">{{item.name}}</span>
                        <a href="#" ng-if="item.checked" ng-click="removeCategory($index,'SE')">Remove</a>
                    </label>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer ">
    <button class="popup-btn-close" type="button" ng-click="cancel()">CLOSE</button>
    <button class="popup-btn-done" type="button" ng-click="ok()">DONE</button>
</div>

